.signup-form {
  left: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap:unset;
  align-items: center;
  flex-shrink: unset;
  flex-grow: unset;
  flex-basis: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-form-header {
  margin-top: 60px;
  justify-self: left;
  font-size: 1.3rem;
  font-weight: 600;
}

.signup-form-errors {
  padding: 5px;
  color: red;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid grey;
  width: 300px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.signup-form-container > input {
  height: 30px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
}

.signup-form-container > input:hover {
  border: 2px solid blue;
  background-color: cornsilk;
}

.signup-form-container-confirm-password {
  padding: 5px;
  color: red;
}

.signup-form-container-button {
  margin-top: 20px;
  width: 80px;
  height: 40px;
  align-self: flex-end;
  cursor: pointer;
  font-weight: 750;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid black;
}

.signup-form-container-button:hover {
  border: 3px solid black;
  text-decoration: underline;
}
